html, body {
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Overpass', sans-serif;
	background-color: #111;
	color: #999;
	font-size: 16px;
}
body.day{
	background-color: #fff;
	color: #767676;
}
.clear{
	clear: both;
}
header{
	position: relative;
	top: 0; left: 0; right: 0;
	height: 60px;
	z-index: 0;
}
.logoCnt{
    font-size: 30px;
    font-weight: bold;
    padding: 12px 20px;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.logoCnt .logo{
	width: 40px;
	height: 40px;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
    margin-top: -4px;
    margin-right: 8px;
	float: left;
}
.mode-changer{
    position: absolute;
    top: 17px;
    right: 52px;
}
.mode-changer:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/moon-white.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    right: -32px;
    top: -2px;
    opacity: .7;
}
body.day .mode-changer:before{
    background-image: url(../img/moon-black.png);
}
@media (min-width: 768px){
	.mode-changer{
		display: none;
	}
}
@media (max-width: 767px){
	#bg{
		display: none;
	}
	header{
		z-index: 9;
	}
}

#loading, #bg, #particles-js{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 0;
}
#particles-js{
	z-index: 1;
}
#app{
	position: relative;
	z-index: 2;
}
#loading{
	z-index: 3;
	background-color: #111;
	transition: all .3s ease;
}
.loadingLogo{
	position: absolute;
	width: 110px;
	height: 110px;
	top: 50%; left: 50%;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: 70px auto;
    background-repeat: no-repeat;
    border: #f5851d 2px solid;
    border-radius: 50%;
    margin: -55px;
    text-align: center;
    font-size: 20px;
    color: #f5871d;
    font-weight: bold;
}
.loadingLogo span{
	display: block;
	margin-top: 120px;
}
#loading.loadedd{
	opacity: 0;
}

.content{
	width: 900px;
	margin: 0 auto;
	margin-top: 64px;
}

.textCnt{
	font-size: 22px;
	line-height: 1.4;
	width: calc(100% - 340px);
	float: left;
	position: fixed;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.textCnt h2{
	margin: 0;
}
@media (max-width: 600px){
	.textCnt{
		left: 30px; right: 30px;
		transform: translateY(-50%);
	}
}
.textCnt .p2{
	font-weight: bold;
	font-size: 36px;
	line-height: 1.1;
}
#bgClicker{
	position: fixed;
	top: 0; right: 0; left: 0; bottom: 0;
}
._404Cnt{
	max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
._404Cnt img{
	max-width: 80%;
}
.backToHomeCnt{
	text-align: center;
}
.backToHome{
	display: inline-block;
	margin: 4px auto 0;
	position: relative;
	z-index: 9;
}

@media(max-width: 1020px){
	.content{
		width: auto;
		padding: 0 40px;
	}
	.formCnt{
		float: none;
		width: auto;
	}
	.textCnt{
		float: none;
		width: auto;
	    text-align: center;
	    margin-top: 40px;
	    padding: 0 40px;
	}
	.textCnt p{
		margin-left: 0 !important;
	}
}

@media(max-width: 600px){
	._404Cnt{
		padding-top: 40px;
	}
	header{
		position: fixed;
		background-color: #333;
		box-shadow: 0 0 6px rgba(0,0,0,.3);
		height: 56px;
		z-index: 99;
		transition: all .3s ease;
	}
	body.day header{
		background-color: #fff;
	}
	.content{
		padding: 0 20px;
		margin-top: 74px;
	}
	.logoCnt{
		color: #ccc;
	}
	body.day .logoCnt{
		color: #767676;
	}
	.textCnt{
	    text-align: center;
	    padding: 0 10px;
	    font-size: 17px;
	}
	.textCnt p{
		margin-bottom: 15px;
	}
	.textCnt .p2{
		font-size: 22px;
	}
	.formCnt{
		background: none !important;
		box-shadow: none !important;
	}
	.formIn{
		padding: 0 !important;
	}
	.formCnt .formInput{
	}
	body.night .formCnt .formInput {
	    border-color: #4e4e4e;
	    background-color: #333;
	    color: #fff;
	}
	body.night .customUriInput{
	    border-color: #4e4e4e;
	    background-color: #333;
	    color: #fff;
	}
	.content.hasResult{
		padding-top: 40px;
	}
	.content.hasResult .textCnt{
		display: none;
	}
	.content .resultBack{
		display: none;
	}
	header.hasResult .logoCnt{
		display: none;
	}
	header.hasResult .resultBack{
		display: block;
		top: 8px;
	    left: 14px;
	}
	header.hasResult .resultBack span{
	    background-size: 30px auto;
	}
}